CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# IntelliJ project files
.idea
*.iml
out
gen### macOS template
# General
.DS_Store
.AppleDouble
.LSOverride
# Icon must end with two \r
Icon
# Thumbnails
._*
# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Windows template
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
# Dump file
*.stackdump
# Folder config file
Desktop.ini
# Recycle Bin used on file shares
$RECYCLE.BIN/
# Windows Installer files
*.cab
*.msi
*.msm
*.msp
# Windows shortcuts
*.lnk

cmake-build-*

/[Bb]in/
/[Bb]uild/
/[Dd]ebug/
/[Rr]elease/
/**/.vs/

# MSVC user extensions
*.opensdf
*.sdf
*.suo
*.user
*.obj
*.pdb
*.idb
*.log
*.tlog
*.lastbuildstate
*.exp
*.opendb
*.ini
*.exe
*.ilk
*.cache

# Shader binaries
*.spv

# VS code
.vscode
*.code-workspace

# Examples
examples/basic/basic
examples/buffer/buffer
examples/events/events
examples/callbacks/callbacks
examples/flags/flags
examples/monitor/monitor
examples/gl33_ctx/gl33_ctx
examples/smooth-resize/smooth-resize
examples/multi-window/multi-window
examples/icons/icons
examples/gamepad/gamepad
examples/silk/silk
examples/first-person-camera/camera
examples/microui_demo/microui_demo
examples/gl33/gl33
examples/portableGL/pgl
examples/gles2/gles2
examples/osmesa_demo/osmesa_demo
examples/vk10/vk10
examples/vk10/shaders/vert.h
examples/vk10/shaders/frag.h
examples/minimal_links/minimal_links
examples/gears/gears
examples/dx11/dx11.exe

# Unix binary formats
*.a
*.o
*.so
